<ion-card>
  <ion-grid>
    <ion-row>
      <ion-col col-3>
        <img class="image" src="assets/imgs/fruits/{{fruit.image}}">
      </ion-col>
      <ion-col>
        <h1>{{fruit.name}}</h1>
        <p margin-bottom margin-top>{{fruit.description}}</p>
        <a target="_blank" href="{{fruit.link}}" *ngIf="fruit.link">More info</a>
      </ion-col>
      <ion-col col-2>
        <button ion-button icon-only color="danger" (click)="deletePressed()">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
