<ion-card>
  <ion-grid>
    <!-- Botón y título -->
    <ion-row>
      <ion-col col-3>
        <button ion-button *ngIf="!showInfo" (click)="showDetails(true)">
          <ion-icon name="remove"></ion-icon>
        </button>
        <button ion-button *ngIf="showInfo" (click)="showDetails(false)">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-col>
      <ion-col>
        <h1>{{recomendation.title}}</h1>
      </ion-col>
    </ion-row>
    <!-- Resto de información -->
      <ion-col col-12 *ngIf="showInfo">
        <p>{{recomendation.author}}</p>
      </ion-col>
      <ion-col col-12 *ngIf="showInfo">
        <p margin-bottom margin-top>{{recomendation.content}}</p>
        <button ion-button class="viewdetails" (click)="viewDetailsR($event)">
          VIEW DETAILS
        </button>
        <button ion-button icon-only color="success" (click)="megusta()">
          <ion-icon name="thumbs-up"></ion-icon> {{like}}
        </button>
        <button ion-button icon-only color="danger" (click)="nomegusta()">
          <ion-icon name="thumbs-down"></ion-icon> {{dislike}}
        </button>
      </ion-col>
  </ion-grid>
</ion-card>