<ion-header>
  <common-navbar [name]="name"></common-navbar>
</ion-header>

<ion-content padding>
  <div text-center *ngIf="loading">
    <ion-spinner></ion-spinner>
  </div>
  <div text-center *ngIf="!errorLoading && !loading">
    <button ion-button (click)="goToNewBook($event)">New Book</button>
  </div>
  <div text-center *ngIf="errorLoading && !loading">
    <p>Error</p>
    <button ion-button (click)="getBooks()">Reload</button>
  </div>
  <ion-list>
    <ion-item *ngFor="let book of books" (click)="goToDetails($event, book)">
      <p class="bold">{{book.title}}</p>
      <p>{{book.language}}</p>
    </ion-item>
  </ion-list>
</ion-content>