<ion-header>
  <common-navbar [name]="name"></common-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="bookForm" (submit)="submitForm()">
    <ion-input type="text" formControlName="title"></ion-input>
    <ion-input type="text" formControlName="language"></ion-input>
    <ion-input type="text" formControlName="edition"></ion-input>
    <ion-input type="text" formControlName="publisher"></ion-input>
      <ion-spinner *ngIf="loadingUpdate"></ion-spinner>
    <button *ngIf="!loadingUpdate" ion-button [disabled]="!bookForm.valid">Update book</button>
  </form>
   <ion-spinner *ngIf="loadingDelete"></ion-spinner>
  <button *ngIf="!loadingDelete" ion-button color="danger" (click)="deleteBook()">
    <ion-icon ion-icon name="trash" ></ion-icon>
  </button>
  <vote (hasVoted)="showAlert($event)"></vote>
</ion-content>
