<ion-header>
  <common-navbar [name]="name"></common-navbar>
</ion-header>

<ion-content padding>
  <div text-center *ngIf="loading">
    <ion-spinner></ion-spinner>
  </div>
  <div text-center>
    <button ion-button icon-only color="secondary" (click)="getRecommendations()" *ngIf="errorLoading">
      Reload
    </button>
  </div>
  <ion-list>
    <ion-item *ngFor="let recommendation of recommendations" (click)="goToDetails($event, recommendation, recommendation.title)">
      <p class="negrita">{{recommendation.title}}</p>
      <p>{{recommendation.content | lenghtFormat: 50}}</p>
    </ion-item>
  </ion-list>
</ion-content>
